:root {
  --color-primary: #f5f7fa;
  --color-amarillo-desactivado: #fcf1a4;
  --color-amarillo-activado: #f5df66;
  --color-azul-letra: #06174e;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-primary);
  color: var(--color-azul-letra);
  margin: 0;
  padding: 0;
}

h1{
  color: var(--color-azul-letra);
  text-align: center;
}